<a href="https://colab.research.google.com/github/isaiastrajano/BootCamp_Python_DataScience/blob/main/Exercicio_estatisticadescritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercícios de estatística descritiva

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Exercício 1

Os dados abaixo referem-se a quantidade produzida de lavouras permanentes no Brasil, entre 2017 e 2019. Construa o DataFrame abaixo e seguidamente faça:

a) obtenha a quantidade total produzida pelas lavouras em cada ano;

b) obtenha a quantidade total produzida por cada lavoura ao longo do tempo;

c) mostre um resumo das estatísticas descritivas;

d) converta o banco de dados para csv.

In [9]:
dados = { 'Abacate':{ 2017: 212873, 2018: 236177, 2019: 242932 }, 'Açaí':{ 2017:1335040, 2018:1301472, 2019:1398328 }, 'Banana':{ 2017:6584967, 2018:6723590, 2019:6812708 }, 'Cacau':{ 2017:235809, 2018:239318, 2019:259425 }, 'Laranja':{ 2017:17492882, 2018:16841549, 2019:17073593 }, 'Maçã':{ 2017:1307642, 2018:1203007, 2019:1222970 }, 'Mamão':{ 2017:1058487, 2018:1065421, 2019:1161808 }, 'Manga':{ 2017:1089882, 2018:1320458, 2019:1414338 }, }

In [10]:
dados

{'Abacate': {2017: 212873, 2018: 236177, 2019: 242932},
 'Açaí': {2017: 1335040, 2018: 1301472, 2019: 1398328},
 'Banana': {2017: 6584967, 2018: 6723590, 2019: 6812708},
 'Cacau': {2017: 235809, 2018: 239318, 2019: 259425},
 'Laranja': {2017: 17492882, 2018: 16841549, 2019: 17073593},
 'Mamão': {2017: 1058487, 2018: 1065421, 2019: 1161808},
 'Manga': {2017: 1089882, 2018: 1320458, 2019: 1414338},
 'Maçã': {2017: 1307642, 2018: 1203007, 2019: 1222970}}

In [23]:
data = pd.DataFrame(dados)

      Abacate     Açaí   Banana   Cacau   Laranja     Maçã    Mamão    Manga
2017   212873  1335040  6584967  235809  17492882  1307642  1058487  1089882
2018   236177  1301472  6723590  239318  16841549  1203007  1065421  1320458
2019   242932  1398328  6812708  259425  17073593  1222970  1161808  1414338

In [12]:
#a
data['total'] = data.sum(axis=1)
#somando os valores do eixo x
data

      Abacate     Açaí   Banana   Cacau  ...     Maçã    Mamão    Manga     total
2017   212873  1335040  6584967  235809  ...  1307642  1058487  1089882  29317582
2018   236177  1301472  6723590  239318  ...  1203007  1065421  1320458  28930992
2019   242932  1398328  6812708  259425  ...  1222970  1161808  1414338  29586102

[3 rows x 9 columns]

In [26]:
#b
datat = data.T
datat['total'] = datat.sum(axis=1)
datat

             2017      2018      2019     total
Abacate    212873    236177    242932    691982
Açaí      1335040   1301472   1398328   4034840
Banana    6584967   6723590   6812708  20121265
Cacau      235809    239318    259425    734552
Laranja  17492882  16841549  17073593  51408024
Maçã      1307642   1203007   1222970   3733619
Mamão     1058487   1065421   1161808   3285716
Manga     1089882   1320458   1414338   3824678

In [48]:
#c
data.describe()

             Abacate          Açaí  ...         Mamão         Manga
count       3.000000  3.000000e+00  ...  3.000000e+00  3.000000e+00
mean   230660.666667  1.344947e+06  ...  1.095239e+06  1.274893e+06
std     15770.488906  4.918209e+04  ...  5.775489e+04  1.669583e+05
min    212873.000000  1.301472e+06  ...  1.058487e+06  1.089882e+06
25%    224525.000000  1.318256e+06  ...  1.061954e+06  1.205170e+06
50%    236177.000000  1.335040e+06  ...  1.065421e+06  1.320458e+06
75%    239554.500000  1.366684e+06  ...  1.113614e+06  1.367398e+06
max    242932.000000  1.398328e+06  ...  1.161808e+06  1.414338e+06

[8 rows x 8 columns]

In [47]:
#d
data.to_csv('dados_prod.csv', index = False)

Exercício 2

Com base no dataset anterior obtenha:

a) média da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

b) média da quantidade produzida de cada lavoura entre o período selecionado;

c) desvio padrão da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

d) desvio padrão da quantidade produzida de cada lavoura entre o período selecionado;

e) variância da quantidade total produzida das respectivas lavouras em 2017, 2018 e 2019;

In [61]:
#a
#datat.drop(labels = ['total'], axis = 1, inplace = True)
datat['Média'] = datat.median(axis=1)
datat

             2017      2018      2019         Média
Abacate    212873    236177    242932  2.370214e+05
Açaí      1335040   1301472   1398328  1.342951e+06
Banana    6584967   6723590   6812708  6.734730e+06
Cacau      235809    239318    259425  2.418314e+05
Laranja  17492882  16841549  17073593  1.712600e+07
Maçã      1307642   1203007   1222970  1.233554e+06
Mamão     1058487   1065421   1161808  1.077469e+06
Manga     1089882   1320458   1414338  1.332193e+06